<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UIAutomationSuite">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="LoginTests">
        <classes>
            <class name="Page.AmazonTest.AmazonTest"/>
        </classes>
    </test>
</suite>
